.advantages {
  text-align: center;
  box-sizing: border-box;
}

.advantages__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 32px;
  margin-bottom: 11px;

  &--white {
    color: @font-color-white;
  }
}

.advantages__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  &--white {
    color: @font-color-white;
  }
}

.advantages__number {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  &--white {
    color: @font-color-white;
  }
}

.advantages__list {
  .list-reset();
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__container {
  padding: 0;
  margin: 0;

  &--blue {
    background-color: @base-color-blue;
  }

  @media (min-width: @tablet-width) {
    &--reverse {
      grid-column: ~ "3/-1";
    }
  }
}


.advantages__item {
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;

  &--image {
    width: 100%;
    background-color: @base-color-blue;
  }

  &--grey {
    background-color: @base-color-white-grey;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &--border {
    padding-top: 24px;
    padding-bottom: 24px;
    color: #000000;
    border-bottom: 1px solid #d6d6d6;

    &:last-child {
      border: none;
    }

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    &--image {
      grid-column: ~ "1/-1";
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.advantages__image {
  grid-column: span 2;
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    grid-column: span 2;

    &--reverse {
      grid-column: ~ "1/3";
      grid-row: 1;
    }
  }
}
