.card__title {
  font-family: "PT Sans" "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: @font-color-black;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    color: @font-color-white;
  }
}

.card__author {
  font-family: "PT Sans" "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.card__link {
  .link-style-reset();
}

.card__discription-container {    //тут меняется цвет в зависимости от устройства
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;  //пока так потом variables добавлю
  }

  @media (min-width: @desktop-width) {
    background-color: rgb(0 0 0 / 0.3);
    color: @font-color-white;
    width: 100%;
    box-sizing: border-box;
    padding: 17px 20px 17px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.card__title-container {   //контейнер с описаниями к фотографиям
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__button-container {   //контейнер с кнопкой
  display: flex;
  align-items: center;
}

.card__image {
  width: 100%;
}
