.gallery {
  text-align: center;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 62px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-top: 102px;
  }
}

.gallery__container {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000000;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: @tablet-width) {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.gallery__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: -15px auto 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    font-size: 30px;
    line-height: 26px;
  }
}

.gallery__discription {
  font-family: "PT Sans" "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 85px;
    padding-left: 90px;
    padding-right: 90px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 84px;
    padding-left: 360px;
    padding-right: 360px;
  }
}

.gallery__discription br {
  display: none;
}

.gallery__list {
  .list-reset();
  max-width: 280px;
  margin: auto;

  @media (min-width: @tablet-width) {
    display: grid;
    max-width: 648px;
    grid-template-columns: repeat(2, 324px);
  }

  @media (min-width: @desktop-width) {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(3, 400px);
  }
}

.gallery__item:first-child {
  @media (min-width: @tablet-width) {
    grid-column: ~"1 / -1"; //тут нужна помощь почти получилось выровнять
  }
}

.gallery__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  &--border {
    padding-top: 24px;
    padding-bottom: 24px;
    color: #000000;
    border-bottom: 1px solid #d6d6d6;

    &:last-child {
      border: none;
    }

    @media (min-width: @tablet-width) {
      border: none;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}
