.gallery {
  text-align: center;
}

.gallery__title {
  font-family: "PT Sans" "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.gallery__discription {
  font-family: "PT Sans" "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.gallery__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 648px repeat(3, 324px); //или лучше использовать fr?
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1200px repeat(3, 400px);
  }
}

.gallery__item:first-child {
  @media (min-width: @tablet-width) {
    grid-column: ~"1 / -2";   //тут нужна помощь почти получилось выровнять
  }
}

.gallery__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}
