.hero {
  background-image: url("../img/intro-triangle.svg"), url("../img/hero-background.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat no-repeat;
  background-position: bottom, center;
  background-color: #468284;
  color: #ffffff;
  text-align: center;
  padding: 51px 150px 82px;
}
