.main-footer__heshtag {
  font-family: "PT Sans" "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.main-footer {
  color: @font-color-black;
  background-color: @base-color-white;
}
