.main-nav {
  background-color: @body-color-white;
}

.main-nav__list {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.main-nav__toggle {
  position: absolute;
  display: block;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--no-js .main-nav__list {
  @media (max-width: @mobile-width-only) {
    padding-top: 80px;
    position: static;
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}


.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-menu-burger.svg");
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-cross.svg");
}

.main-nav--closed .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}
