.map {
  text-align: center;
  box-sizing: border-box;
}

.map__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.map__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.map__link {
  .link-style-reset();
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: #82b3d3;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  padding: 8px 50px;
  min-width: 191px;
  margin-bottom: 32px;
  cursor: pointer;
}


//это временно потом стилизацию кнопок в отдельный класс закину

.map__link-image {
  width: 100%;
  border: none;
  display: block;
}


.map__container {
  //width: 320px;
  height: 350px;

  @media (min-width: @tablet-width) {
    //width: 768px;
  }

  @media (min-width: @desktop-width) {
    //width: 1200px;
  }
}
