.services {
  padding: 13px 0 30px;
  text-align: left;
  background-color: @base-color-white;
  grid-column: 1 / -1;

  @media (min-width: @tablet-width) {
    padding: 0;
    text-align: center;
  }
}

.services__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 0 23px;
    font-size: 21px;
  }
}

.services__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    margin: 0 auto;
    max-width: 193px;
  }
}

.services__list {
  .list-reset();
  background-color: @base-color-white;
  max-width: 284px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: fit-content;
    height: 100%;
  }
}

.services__item {
  //background-color: @base-color-white;
  width: 100%;
  position: relative;
  padding-left: 47px;
  margin-bottom: 15px;

  &:first-of-type {
    //margin-top: 20px;

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    display: block;

    &:nth-child(3) {
      top: -10px;
    }

    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 77px;
      height: 77px;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    box-sizing: border-box;
    margin-bottom: 63px;
    padding: 146px 0 0 0;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 370px;
    padding: 170px 0 0 0;
  }

  &--home::before {
    background-size: 39px 37px;
    background-image: url("../img/icon-house.svg");

    @media (min-width: @tablet-width) {
      background-size: 75px 72px;
    }
  }

  &--food::before {
    background-size: 40px 35px;
    background-image: url("../img/icon-burger.svg");

    @media (min-width: @tablet-width) {
      background-size: 77px 68px;
    }
  }

  &--souvenir::before {
    background-size: 32px 38px;
    background-image: url("../img/icon-gift.svg");

    @media (min-width: @tablet-width) {
      background-size: 64px 75px;
    }
  }
}

.services__container {
  min-height: 72px;
  left: 0;
  text-align: left;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    width: 256px;
    min-height: 72px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    min-height: 72px;
    text-align: center;
  }
}
