.services__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.services__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.services__list {
  .list-reset();
  display: flex;
justify-content: flex-start;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}
